<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuario</title>
</head>
<body>
<h1>Formulário para Registro de um Usuário</h1>
<form action="/usuarios/salvar" method="post">
    <label>Nome de Usuario: </label>
    <input id="username" name="username" type="text"> <br>
    <label>Email: </label>
    <input id="email" name="email" type="text" > <br>
    <label>Password: </label>
    <input id="password" name="password" type="password"> <br>
    <input type="submit" value="enviar">
</form>
</body>
</html>