<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Atleta</title>
</head>
<body>
    <h1>Formulário para Registro de um atleta</h1>
    <form action="/atletas" method="post">

        <input th:if="${atleta != null}" type="hidden" name="_method" value="put">
        <input type="hidden" name="id" th:value="${atleta?.id}">


        <label>Nome: </label>
        <input id="nome" name="nome" type="text" th:value="${atleta?.getNome()}"> <br>
        <label>Idade: </label>
        <input id="idade" name="idade" type="number" th:value="${atleta?.getIdade()}"> <br>
        <label>Peso: </label>
        <input id="peso" name="peso" type="number" step="0.01" th:value="${atleta?.getPeso()}"> <br>
        <label>Altura: </label>
        <input id="altura" name="altura" type="number" step="0.01" th:value="${atleta?.getAltura()}"> <br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>