<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletas Cadastrados</title>
</head>
<body>
    <h1>Lista de Atletas</h1>
    <a href="/atletas/cadastro">Novo</a><br>
    <table class="table table-sm">
    <thead>
        <tr>
            <th>NOME</th>
            <th>IDADE</th>
            <th>PESO</th>
            <th>ALTURA</th>
            <th>IMC</th>
            <th>AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="atleta : ${lista}">
            <td th:text="${atleta.getNome()}"></td>
            <td th:text="${atleta.getIdade()}"></td>
            <td th:text="${atleta.getPeso()}"></td>
            <td th:text="${atleta.getAltura()}"></td>
            <td th:text="${atleta.calcIMC()}"></td>
            <td>
                <form action="\atletas" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" th:value="${atleta.getId()}">
                    <input type="submit" value="Deletar">
                </form>

                <a th:href="@{/atletas/cadastro?id={id}(id=${atleta.getId()})}">Editar</a>
            </td>
        </tr>
    </tbody>
    </table>

    
</body>
</html>